#app {
  height: 100%;
  width: 100%;
  text-align: center;
}

#header {
  text-align: left;
}

p > a {
  font-weight: 500;
  color: #535bf2;
  text-decoration: inherit;
}
p > a:hover {
  color: #422ad5;
}

.qr-code {
  border-width: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
}

.qr-placeholder {
  border: solid;
  border-color: black;
  border-radius: 8px;
  border-width: 1px;
}

.center-spinner {
  margin: 0px auto;
}
